body {
  font-family: "Arial", " Meiryo", sans-serif;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
  text-align: center;
}

h1 {
  font-size: 2.0rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
  border-bottom: solid rgb(115, 115, 114)
}

.sky-blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

#basic p {
  font-weight: bold;
}